.ratingWrapper {
  text-wrap: nowrap;
  display: flex;
  justify-content: flex-end;
  & img {
    width: 30px;
    height: 30px;
  }
}

/* Media query for screens with a minimum width of 750px and a maximum width of 1024px in portrait orientation */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .ratingWrapper {
    & img {
      width: 40px;
      height: 40px;
    }
  }
}

/* Media query for screens with a maximum width of 767px */
@media screen and (max-width: 767px) {
  .ratingWrapper {
    & img {
      width: 20px;
      height: 20px;
    }
  }
}
