@import "../../utils/style/colors.scss";

.cardContainer {
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  grid-gap: 55px;

  background-color: $grey-background;
}

.card {
  width: 100%;
  height: 300px;
  cursor: pointer;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  &:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
}

.cardTitle {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: $text-color;
}

.cardCover {
  object-fit: cover;
  width: inherit;
  height: inherit;
}

.overlayClass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}

.card,
.cardCover,
.overlayClass::before {
  border-radius: 15px;
}

/* Media query for screens with a minimum width of 1024px and a maximum width of 2128px in portrait orientation */
@media screen and (min-width: 1024px) and (max-width: 2128px) and (orientation: portrait) {
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    height: 500px;
  }
}

/* Media query for screens with a minimum width of 750px and a maximum width of 1024px in portrait orientation */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .cardContainer {
    display: flex;
    padding: 0;
    margin: 0;

    justify-items: center;
    flex-direction: column;

    background-color: transparent;
    width: 100%;
  }

  .card {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .cardTitle {
    font-size: 27px;
    left: 30px;
    text-align: left;
  }
}

/* Media query for screens with a maximum width of 767px */
@media screen and (max-width: 767px) {
  .cardContainer {
    display: flex;
    padding: 0;
    margin: 0;
    justify-items: center;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    gap: 25px;
  }

  .card {
    width: 100%;
    height: 255px;
    border: 1px solid #ccc;
    position: relative;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .cardTitle {
    font-size: 18px;
    width: 72%;
  }
}
